@charset "utf-8";

/***Main***/

#main-menu {
	height: 100px;
}
#login-nav {
	margin-top: 25px;
	margin-bottom: 25px;
	display: inline;
}
body, html {
	height: 100%;
	width: 100%;
}
#home {
	background: url(../images/background-3.jpg);
	background-attachment: fixed;
	background-position: top center;
	background-repeat: repeat;
}
.error {
	border: solid 1px red;
}


/*** Evaluate page ***/

.nav-tab-title {
	padding: 10px 30px 0 10px;
	font-weight: bold;
}
.panel.with-nav-tabs .panel-heading {
	padding: 5px 5px 0 5px;
}
.panel.with-nav-tabs .nav-tabs {
	border-bottom: none;
}
.panel.with-nav-tabs .nav-justified {
	margin-bottom: -1px;
}
/*PANEL DEFAULT */
.with-nav-tabs.panel-default .nav-tabs > li > a,
.with-nav-tabs.panel-default .nav-tabs > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li > a:focus {
	color: #777;
}
.with-nav-tabs.panel-default .nav-tabs > .open > a,
.with-nav-tabs.panel-default .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-default .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-default .nav-tabs > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li > a:focus {
	color: #777;
	background-color: #ddd;
	border-color: transparent;
}
.with-nav-tabs.panel-default .nav-tabs > li.active > a,
.with-nav-tabs.panel-default .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li.active > a:focus {
	color: #555;
	background-color: #fff;
	border-color: #ddd;
	border-bottom-color: transparent;
}


/*** Leaderboard page ***/

/* panel */ 
.panel {
	margin-top: 25px;
}
.panel .panel-heading {
	padding: 5px 5px 0 5px;
}
.panel .nav-tabs {
	border-bottom: none;
}
/* inactive tabs */ 
#evaluate > li > a {
	border-color: #dddddd;
	border-width: 1px;
	padding: 5px 15px;
	line-height: 2;
	-webkit-transition: all 0.75s;
	-moz-transition: all 0.75s;
	transition: all 0.75s;
}
.nav > li > a {
	color: #676767;
}
/* active tabs */ 
.nav > li.active > a:hover {
	color: #222222;
}
/* table */ 
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th {
	background-color: #333333;
	color: #ffffff;
	border-bottom: 1px solid #F3F3F3;
	border-top: 1px solid #F3F3F3 !important;
	line-height: 1.42857;
	padding: 8px;
	vertical-align: top;
}
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
	border-top: 0px solid blue;
	line-height: 1.42857;
	padding: 8px;
	vertical-align: top;
	background-color: #F3F3F3;
}
.table-striped > tbody > tr:nth-child(2n+1) > td {
	background-color: #ffffff;
}
/* buttons */ 
.btn-default.btn-outline:active,
.btn-default.btn-outline:focus,
.btn-default.btn-outline {
	color: #676767;
	border-color: #676767;
	background-color: transparent;
	border-width: 2px;
	-webkit-transition: all 0.25s;
	-moz-transition: all 0.25s;
	transition: all 0.25s;
}
.btn-default.btn-outline:hover {
	color: #000000;
	border-color: #000000;
	background-color: transparent;
	border-width: 2px;
	-webkit-transition: all 0.75s;
	-moz-transition: all 0.75s;
	transition: all 0.75s;
}
.display-title {
font family: verdana, arial, helvetica;
	color: #008400;
}
