@charset "utf-8";
/* CSS Document */

.theme-popover-mask {
	z-index: 9998;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.5;
	filter: alpha(opacity=40);
	display: none;
}
.theme-popover {
	z-index: 9999;
	position: fixed;
	top: 50%;
	left: 50%;
	width: 90%;
	height: 90%;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-o-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	border-radius: 5px;
	border: solid 2px #666;
	background-color: #222;
	display: none;
	overflow: hidden;/*  box-shadow: 0 0 10px #666;*/
}
/* title*/
.theme-poptit {
	background: #333;
	height: 30px;
	padding: 0 8px;
}
.theme-poptit .close {
	color: #FFF;
	font-weight: normal;
	opacity: .5;
	line-height: 30px;
}
.theme-poptit .close i {
	font-size: 24px;
	text-shadow: none;
}
.theme-poptit .close:hover {
	opacity: 1;
}
.theme-poptit h3 {
	color: #f1f1f1;
	font-size: 16px;
	font-weight: normal;
	margin: 0;
	line-height: 30px;
}
/* column */
.main-media-section {
	height: 96%;
	position: relative;
}
.theme-popover .fadeInRight {
	background: #181818;
	height: 100%;
}
.theme-popover .fadeInLeft {
	height: 100%;
	padding: 0;
}
.innerwrap {
	width: 98%;
	height: 100%;
	margin: 0 1%;
	background: #000;
}
.innerwrap iframe {
	width: 100%;
	height: 100%;
}
/* right sidebar*/
ul, li {
	list-style: none;
}
ul, li, img {
	margin: 0;
	padding: 0;
	border: none;
}
#vList {
	padding: 0;
}
#vList .title {
	padding-left: 15px;
	background: #222;
	display: block;
	height: 53px;
	border: 1px solid #222;
}
#vList .title h3 {
	color: #fff;
	font-size: 14px;
	font-weight: normal;
}
.sidebar-show, .sidebar-hidden {
	-webkit-border-radius: 15px 0px 0px 15px;
	-moz-border-radius: 15px 0px 0px 15px;
	border-radius: 15px 0px 0px 15px;
	cursor: pointer;
	display: block;
	float: right;
	margin-top: 14px;
	width: 23px;
	height: 25px;
	background: #ccc;
	top: 0;
	right: 0;
	position: absolute;
	z-index: 22;
}
.sidebar-show:before, .sidebar-hidden:before {
	display: block;
	font-size: 18px;
	font-family: FontAwesome;
	height: auto;
	font-weight: 300;
	text-shadow: none;
	text-align: center;
}
.sidebar-show:before {
	content: "\f104";
}
.sidebar-hidden:before {
	content: "\f105";
}
.sidebar-closed.fadeInRight {
	display: none;
}
.mainarea {
	width: 100%;
}
#vList .list-group-item:last-child {
	border-bottom-left-radius: none;
	border-bottom-right-radius: none;
}
#vList .list-group-item:first-child {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
#vList li {
	background: none;
	border: none;
	border-bottom: 1px solid #000;
	position: relative;
}
#vList li a {
	display: block;
}
#vList li:hover, #vList li:focus {
	background: #666;
}
#vList li h5 {
	color: #fff;
	font-weight: normal;
}
#vList .tag-status {
	position: absolute;
	left: 0px;
	top: 0px;
	bottom: 0px;
	width: 3px;
	background: #B5BFCD;
}
