.treediv {
    padding: 0;
}

span i{
    padding-right: 5px;
}

.tree {
    height:462px;
    padding:5px;
    overflow: scroll;
    box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05)
}

.tree ul:first-child {
    padding: 0;
}

.tree li {
    list-style-type:none;
    margin:0;
    padding:3px 5px 0 3px;
    position:relative
}

.tree li.parent_li ul {
    padding-left: 15px;
}

.tree li.parent_li>span {
    cursor:pointer
}
.tree>ul>li::before, .tree>ul>li::after {
    border:0
}
.tree li:last-child::before {
    height:30px
}
.tree li.parent_li>span:hover, .tree li.parent_li>span:hover+ul li span {
    font-weight: bold;
}

.tree li.movie span {
    color: black;
}

.tree li.movie:hover span {
    font-weight: bold;
    color:#7E120F
}

.selected {
   font-weight: bold;
   color:#7E120F
}

.tree li.movie .selected {
   font-weight: bold;
   color:#7E120F
}
