/*
 * Styles for challenge page
 */
.challenge-page {
	.navbar {
		width: 100%;
		padding: 1.6rem 0.5rem;
		background-color: $accent-white;
		z-index: 10;
		box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.22);

		.navbar-collapse {
			width: 100%;
			justify-content: flex-end;

			.navbar-nav {
				.nav-item {
					padding: 0;
					display: flex;
					align-items: center;
					
					.nav-link {
						padding: 1.2rem .8rem;
						font-size: 1rem;
						text-transform: uppercase;
						color: $gray5;
						@include cubic-transition();

						&:hover {
							color: $accent-red;
						}
					}

					&.active {
						.nav-link {
							color: $red5;
							font-weight: $bold-weight;
						}
					}
				}
			}
		}
	}

	section {
		display: block;
		width: 100%;
		margin-bottom: 2.2rem;

		.section-title {
			margin-bottom: 1.6rem;
		}

		&.page-title {
			overflow: hidden;
			padding-top: 8rem;
			text-align: center;
			margin-bottom: 2rem;

			.hero-image {
				position: absolute;
				z-index: -5;
				width: 100%;
				left: 0;
				top: 0px;
				margin: 0 auto;
			}

			.title {
				font-size: 4.5rem;
				padding-top: 1.6rem;
				margin: 0 auto;
				color: $accent-white;
			}
		}

		.speaker {
			text-align: center;
			.speaker-image {
				width: 75%;
				margin: 0 auto;
				padding: 0.4rem;
				height: auto;
				margin-bottom: 10px;

				.speaker-avatar {
					border-radius: 50%;

					@include cubic-transition();

					&:hover {
						transform: scale(1.05);
					}
				}
			}

			.speaker-meta {
				.speaker-name {
					margin-bottom: 5px;
				}

				.speaker-affiliate {
					color: $gray5;
					margin-bottom: 0;
				}
			}
		}

		.aside-list {
			list-style: none;
			padding-left: 0;

			.list-item {
				display: flex;
				flex-direction: row;
				flex-wrap: nowrap;
				align-items: flex-start;
				align-content: flex-start;
				margin-bottom: 8px;

				p {
					margin-bottom: 0;
				}

				&.news-item {
					.date-time {
						flex-grow: 0;
						flex-shrink: 0;
						margin-right: 10px;
						font-size: 1rem;
						border: 1px solid $gray4;
						border-radius: 3px;

						p {
							text-align: center;
							padding: 6px 6px;

							&.year {
								background-color: $gray2;
								color: $gray5;
								font-weight: $bold-weight;
							}
						}
					}
				}
			}
		}
	}

	footer {
		position: relative;;
		overflow-x: hidden;

		.footer-pattern {
			display: block;
			margin-left: -1px;
			margin-right: -1px;
			margin-bottom: -1px;
		}

		.footer-content {
			display: block;
			padding: 2rem;
			width: 100%;
			background-color: $gray6;
			color: $gray4;
			font-size: 0.8rem;

			.footer-logo {
				width: 70%;
				height: auto;
				padding-bottom: 10px;
			}

			.footer-nav {
				list-style: none;
				padding-left: 0;

				a {
					line-height: 1.4rem;
					text-transform: uppercase;
					color: $gray4;
					@include cubic-transition();

					&:hover {
						color: $gray3;
					}
				}
			}

			.footer-text-section {
				display: block;
				width: 100%;

				.footer-section-title {
					font-size: 0.8rem;
					text-transform: uppercase;
					color: $gray4;
				}

				.footer-section-text {
					padding-left: 10px;
				}
			}
		}
	}

	&.normal-page {
		.normal-page-title {
			position: relative;
			text-align: center;
			background-repeat: repeat;
			background-attachment: fixed;

			&.people-title {
				background-image: url('../images/people_banner.svg');
				background-size: 4.38rem auto;
			}

			&.challenge-title {
				background-image: url('../images/challenge_banner.svg');
				background-size: 10rem;
				background-position: right 0 top 1.8rem;
			}

			.title {
				padding-top: 4rem;
				padding-bottom: 4rem;
				font-size: 3.2rem;
				color: $accent-white;
			}
		}
	}
}

@media (max-width: 575px) {
.challenge-page {
	section {
		display: block;
		width: 100%;
		margin-bottom: 3rem;

		.section-title {
			margin-bottom: 1.6rem;
		}

		&.page-title {
			overflow: hidden;
			padding-top: 0.6rem;
			text-align: center;
			margin-bottom: 5rem;

			.hero-image {
				position: absolute;
				z-index: -5;
				width: 100%;
				min-height: 300px;
				left: 0;
				top: 10px;
				margin: 0 auto;
			}

			.title {
				font-size: 2rem;
				margin: 0 auto;
				color: $accent-white;
			}
		}
	}

	&.normal-page {
		.normal-page-title {
			position: relative;
			text-align: center;
			background-size: cover;
			background-repeat: none;

			.title {
				padding-top: 3rem;
				padding-bottom: 3rem;
				font-size: 2.4rem;
				color: $accent-white;
			}
		}
	}
}
}

@media (min-width: 576px) and (max-width: 767px) {
.challenge-page {
	section {
		display: block;
		width: 100%;
		margin-bottom: 3rem;

		.section-title {
			margin-bottom: 1.6rem;
		}

		&.page-title {
			overflow: hidden;
			padding-top: 1rem;
			text-align: center;
			margin-bottom: 5rem;

			.hero-image {
				position: absolute;
				z-index: -5;
				width: 100%;
				min-height: 300px;
				left: 0;
				top: 10px;
				margin: 0 auto;
			}

			.title {
				font-size: 2rem;
				margin: 0 auto;
				color: $accent-white;
			}
		}
	}
}
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px) {
.challenge-page {
	section {
		display: block;
		width: 100%;
		margin-bottom: 3rem;

		.section-title {
			margin-bottom: 1.6rem;
		}

		&.page-title {
			overflow: hidden;
			padding-top: 4rem;
			text-align: center;
			margin-bottom: 10rem;

			.hero-image {
				position: absolute;
				z-index: -5;
				width: 120%;
				min-height: 300px;
				left: -7.05%;
				top: 10px;
				margin: 0 auto;
			}

			.title {
				font-size: 3rem;
				margin: 0 auto;
				color: $accent-white;
			}
		}
	}
}
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199px) {
.challenge-page {
	section {
		display: block;
		width: 100%;
		margin-bottom: 3rem;

		.section-title {
			margin-bottom: 1.6rem;
		}

		&.page-title {
			overflow: hidden;
			padding-top: 6rem;
			padding-bottom: 6rem;
			margin-bottom: 6rem;
			text-align: center;

			.hero-image {
				position: absolute;
				z-index: -5;
				width: 126%;
				left: -12.33%;
				top: 10px;
				margin: 0 auto;
			}

			.title {
				font-size: 4rem;
				margin: 0 auto;
				color: $accent-white;
			}
		}
	}
}
}

@media (min-width: 1200px)  {
.challenge-page {
	section {
		display: block;
		width: 100%;
		margin-bottom: 3rem;

		.section-title {
			margin-bottom: 1.6rem;
		}

		&.page-title {
			overflow: hidden;
			padding-top: 8%;
			padding-bottom: 8%;
			margin-bottom: 6rem;
			text-align: center;

			.hero-image {
				position: absolute;
				z-index: -5;
				width: 100%;
				left: 0;
				top: 20px;
				margin: 0 auto;
			}

			.title {
				font-size: 3.5rem;
				margin: 0 auto;
				color: $accent-white;
			}
		}
	}
}
}

@media (min-width: 1800px)  {
.challenge-page {
	section {
		display: block;
		width: 100%;
		margin-bottom: 3rem;

		.section-title {
			margin-bottom: 1.6rem;
		}

		&.page-title {
			overflow: hidden;
			padding-top: 9.6%;
			padding-bottom: 9.6%;
			margin-bottom: 6rem;
			text-align: center;

			.hero-image {
				position: absolute;
				z-index: -5;
				width: 100%;
				left: 0;
				top: 0;
				margin: 0 auto;
			}

			.title {
				font-size: 3.5rem;
			}
		}
	}
}
}

@media (min-width: 2000px)  {
.challenge-page {
	section {
		display: block;
		width: 100%;
		margin-bottom: 3rem;

		.section-title {
			margin-bottom: 1.6rem;
		}

		&.page-title {
			overflow: hidden;
			padding-top: 9.6%;
			padding-bottom: 9.6%;
			margin-bottom: 6rem;
			text-align: center;

			.hero-image {
				position: absolute;
				z-index: -5;
				width: 100%;
				left: 0;
				top: -8%;
				margin: 0 auto;
			}

			.title {
				font-size: 4.2rem;
			}
		}
	}
}
}