/*
 * Global variables
 */
// COLORS
$accent-red: #F01C1E;
$accent-black: #000000;
$accent-white: #FFFFFF;

$red2: #FCD2D2;
$red3: #F7A7A2;
$red4: #F06674;
$red5: #F54E4E;
$red6: #7E120F;

$gray2: #EBEBEB;
$gray3: #CCCCCC;
$gray4: #999999;
$gray5: #666666;
$gray6: #333333;

// FONTS
$font-family: "Roboto Condensed", sans-serif;
$normal-weight: 400;
$bold-weight: 700;
$base-font-size: 1.2rem;