/*
 * Global variables
 */
/**
 * Utilities
 **/
/*
 * Common styles for all pages
 */
body {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.3rem;
  font-weight: 400;
  color: #666666;
  overflow-x: hidden;
  overflow-y: auto; }

a {
  color: #F54E4E;
  text-decoration: none;
  transition: all 0.4s cubic-bezier(0.17, 0.67, 0.83, 0.67);
  -webkit-transition: all 0.4s cubic-bezier(0.17, 0.67, 0.83, 0.67);
  -moz-transition: all 0.4s cubic-bezier(0.17, 0.67, 0.83, 0.67); }
  a:hover {
    cursor: pointer;
    color: #F01C1E;
    text-decoration: none; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  color: #333333; }

* {
  outline: none; }

/*
 * Styles for challenge page
 */
.challenge-page .navbar {
  width: 100%;
  padding: 1.6rem 0.5rem;
  background-color: #FFFFFF;
  z-index: 10; }
  .challenge-page .navbar .navbar-collapse {
    width: 100%;
    justify-content: flex-end; }
    .challenge-page .navbar .navbar-collapse .navbar-nav .nav-item {
      padding: 0;
      display: flex;
      align-items: center; }
      .challenge-page .navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
        padding: 1.2rem .8rem;
        font-size: 1rem;
        text-transform: uppercase;
        color: #666666;
        transition: all 0.4s cubic-bezier(0.17, 0.67, 0.83, 0.67);
        -webkit-transition: all 0.4s cubic-bezier(0.17, 0.67, 0.83, 0.67);
        -moz-transition: all 0.4s cubic-bezier(0.17, 0.67, 0.83, 0.67); }
        .challenge-page .navbar .navbar-collapse .navbar-nav .nav-item .nav-link:hover {
          color: #F01C1E; }
      .challenge-page .navbar .navbar-collapse .navbar-nav .nav-item.active .nav-link {
        color: #F54E4E;
        font-weight: 700; }

.challenge-page section {
  display: block;
  width: 100%;
  margin-bottom: 2.2rem; }
  .challenge-page section .section-title {
    margin-bottom: 1.6rem; }
  .challenge-page section.page-title {
    overflow: hidden;
    padding-top: 8rem;
    text-align: center;
    margin-bottom: 2rem; }
    .challenge-page section.page-title .hero-image {
      position: absolute;
      z-index: -5;
      width: 100%;
      left: 0;
      top: 0px;
      margin: 0 auto; }
    .challenge-page section.page-title .title {
      font-size: 4.5rem;
      padding-top: 1.6rem;
      margin: 0 auto;
      color: #FFFFFF; }
  .challenge-page section .speaker {
    text-align: center; }
    .challenge-page section .speaker .speaker-image {
      width: 75%;
      margin: 0 auto;
      padding: 0.4rem;
      height: auto;
      margin-bottom: 10px; }
      .challenge-page section .speaker .speaker-image .speaker-avatar {
        border-radius: 50%;
        transition: all 0.4s cubic-bezier(0.17, 0.67, 0.83, 0.67);
        -webkit-transition: all 0.4s cubic-bezier(0.17, 0.67, 0.83, 0.67);
        -moz-transition: all 0.4s cubic-bezier(0.17, 0.67, 0.83, 0.67); }
        .challenge-page section .speaker .speaker-image .speaker-avatar:hover {
          transform: scale(1.05); }
    .challenge-page section .speaker .speaker-meta .speaker-name {
      margin-bottom: 5px; }
    .challenge-page section .speaker .speaker-meta .speaker-affiliate {
      color: #666666; }

.challenge-page footer {
  position: relative;
  overflow-x: hidden; }
  .challenge-page footer .footer-pattern {
    display: block;
    margin-left: -1px;
    margin-right: -1px;
    margin-bottom: -1px; }
  .challenge-page footer .footer-content {
    display: block;
    padding: 2rem;
    width: 100%;
    background-color: #333333;
    color: #999999;
    font-size: 0.8rem; }
    .challenge-page footer .footer-content .footer-logo {
      width: 70%;
      height: auto;
      padding-bottom: 10px; }
    .challenge-page footer .footer-content .footer-nav {
      list-style: none;
      padding-left: 0; }
      .challenge-page footer .footer-content .footer-nav a {
        line-height: 1.4rem;
        text-transform: uppercase;
        color: #999999;
        transition: all 0.4s cubic-bezier(0.17, 0.67, 0.83, 0.67);
        -webkit-transition: all 0.4s cubic-bezier(0.17, 0.67, 0.83, 0.67);
        -moz-transition: all 0.4s cubic-bezier(0.17, 0.67, 0.83, 0.67); }
        .challenge-page footer .footer-content .footer-nav a:hover {
          color: #CCCCCC; }
    .challenge-page footer .footer-content .footer-text-section {
      display: block;
      width: 100%; }
      .challenge-page footer .footer-content .footer-text-section .footer-section-title {
        font-size: 0.8rem;
        text-transform: uppercase;
        color: #999999; }
      .challenge-page footer .footer-content .footer-text-section .footer-section-text {
        padding-left: 10px; }

@media (max-width: 575px) {
  .challenge-page section {
    display: block;
    width: 100%;
    margin-bottom: 3rem; }
    .challenge-page section .section-title {
      margin-bottom: 1.6rem; }
    .challenge-page section.page-title {
      overflow: hidden;
      padding-top: 0.6rem;
      text-align: center;
      margin-bottom: 5rem; }
      .challenge-page section.page-title .hero-image {
        position: absolute;
        z-index: -5;
        width: 100%;
        min-height: 300px;
        left: 0;
        top: 10px;
        margin: 0 auto; }
      .challenge-page section.page-title .title {
        font-size: 2rem;
        margin: 0 auto;
        color: #FFFFFF; } }

@media (min-width: 576px) and (max-width: 767px) {
  .challenge-page section {
    display: block;
    width: 100%;
    margin-bottom: 3rem; }
    .challenge-page section .section-title {
      margin-bottom: 1.6rem; }
    .challenge-page section.page-title {
      overflow: hidden;
      padding-top: 1rem;
      text-align: center;
      margin-bottom: 5rem; }
      .challenge-page section.page-title .hero-image {
        position: absolute;
        z-index: -5;
        width: 100%;
        min-height: 300px;
        left: 0;
        top: 10px;
        margin: 0 auto; }
      .challenge-page section.page-title .title {
        font-size: 2rem;
        margin: 0 auto;
        color: #FFFFFF; } }

@media (min-width: 768px) and (max-width: 991px) {
  .challenge-page section {
    display: block;
    width: 100%;
    margin-bottom: 3rem; }
    .challenge-page section .section-title {
      margin-bottom: 1.6rem; }
    .challenge-page section.page-title {
      overflow: hidden;
      padding-top: 4rem;
      text-align: center;
      margin-bottom: 10rem; }
      .challenge-page section.page-title .hero-image {
        position: absolute;
        z-index: -5;
        width: 120%;
        min-height: 300px;
        left: -7.05%;
        top: 10px;
        margin: 0 auto; }
      .challenge-page section.page-title .title {
        font-size: 3rem;
        margin: 0 auto;
        color: #FFFFFF; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .challenge-page section {
    display: block;
    width: 100%;
    margin-bottom: 3rem; }
    .challenge-page section .section-title {
      margin-bottom: 1.6rem; }
    .challenge-page section.page-title {
      overflow: hidden;
      padding-top: 6rem;
      padding-bottom: 6rem;
      margin-bottom: 6rem;
      text-align: center; }
      .challenge-page section.page-title .hero-image {
        position: absolute;
        z-index: -5;
        width: 126%;
        left: -12.33%;
        top: 10px;
        margin: 0 auto; }
      .challenge-page section.page-title .title {
        font-size: 4rem;
        margin: 0 auto;
        color: #FFFFFF; } }

@media (min-width: 1200px) {
  .challenge-page section {
    display: block;
    width: 100%;
    margin-bottom: 3rem; }
    .challenge-page section .section-title {
      margin-bottom: 1.6rem; }
    .challenge-page section.page-title {
      overflow: hidden;
      padding-top: 8%;
      padding-bottom: 8%;
      margin-bottom: 6rem;
      text-align: center; }
      .challenge-page section.page-title .hero-image {
        position: absolute;
        z-index: -5;
        width: 100%;
        left: 0;
        top: 20px;
        margin: 0 auto; }
      .challenge-page section.page-title .title {
        font-size: 3.5rem;
        margin: 0 auto;
        color: #FFFFFF; } }

@media (min-width: 1800px) {
  .challenge-page section {
    display: block;
    width: 100%;
    margin-bottom: 3rem; }
    .challenge-page section .section-title {
      margin-bottom: 1.6rem; }
    .challenge-page section.page-title {
      overflow: hidden;
      padding-top: 9.6%;
      padding-bottom: 9.6%;
      margin-bottom: 6rem;
      text-align: center; }
      .challenge-page section.page-title .hero-image {
        position: absolute;
        z-index: -5;
        width: 100%;
        left: 0;
        top: 0;
        margin: 0 auto; }
      .challenge-page section.page-title .title {
        font-size: 3.5rem; } }

@media (min-width: 2000px) {
  .challenge-page section {
    display: block;
    width: 100%;
    margin-bottom: 3rem; }
    .challenge-page section .section-title {
      margin-bottom: 1.6rem; }
    .challenge-page section.page-title {
      overflow: hidden;
      padding-top: 9.6%;
      padding-bottom: 9.6%;
      margin-bottom: 6rem;
      text-align: center; }
      .challenge-page section.page-title .hero-image {
        position: absolute;
        z-index: -5;
        width: 100%;
        left: 0;
        top: -8%;
        margin: 0 auto; }
      .challenge-page section.page-title .title {
        font-size: 4.2rem; } }
